<div class="detail-page">
  <div class="bg"></div>

  <!-- NAVBAR -->
  <nav class="navbar">
  <div class="logo">CYHT LOADOUTS</div>

  <button class="menu-btn" (click)="menuOpen = !menuOpen">
    ☰
  </button>

  <ul class="nav-links" [class.open]="menuOpen">
  <li><a routerLink="/home" (click)="menuOpen=false">HOME</a></li>
  <li><a routerLink="/weapons" (click)="menuOpen=false">WEAPONS</a></li>
  <li><a routerLink="/about" (click)="menuOpen=false">ABOUT</a></li>
  <li><a routerLink="/contacts" (click)="menuOpen=false">CONTACT US</a></li>
</ul>
</nav>

  <section class="detail-content">
    <!-- LEFT IMAGE -->
    <div class="weapon-preview">
      <img src="ak117.webp" alt="AK-117">
    </div>

    <!-- RIGHT DETAILS -->
    <div class="weapon-info">
      <h1>AK-117</h1>
      <p class="role">META MID-RANGE BUILD</p>

      <div class="stats-grid">
        <div class="stat-box">Damage: 82</div>
        <div class="stat-box">Accuracy: 90</div>
        <div class="stat-box">Range: 76</div>
        <div class="stat-box">Mobility: 68</div>
      </div>

      <h2>Recommended Attachments</h2>
      <ul class="attachments">
        <li>OWC Ranger Barrel</li>
        <li>Red Dot Sight</li>
        <li>Granulated Grip Tape</li>
        <li>40 Round Extended Mag</li>
        <li>OWC Laser Tactical</li>
      </ul>

      <button class="copy-btn">COPY LOADOUT CODE</button>
    </div>
  </section>
</div>
