 <div class="page-wrapper">
  <section class="hero-section">
    <header class="navbar">
      <div class="logo">CYHT <span>LOADOUTS</span></div>
      <nav>
        <a routerLink="/home" class="active">HOME</a>
        <a routerLink="/weapons" class="active">WEAPONS</a>
        <a routerLink="/about" class="active">ABOUT</a>
        <a routerLink="/contact" class="active">CONTACT US</a>
      </nav>
    </header>

    <div class="hero-content">
      <div class="hero-text">
        <h1>MASTER<br>THE META</h1>
        <p>This website focus on helping new players of the Battle Royale mode in Call of Duty: Mobile to provide recommended weapon loadouts and guides.
           The web application display weapons commonly used in the Battle Royale with their optimized attachment builds.</p>
        <button routerLink="/home" class="cta-button">EXPLORE WEAPONS</button>
      </div>
      
      
   
    </div>

    
  </section>

  <section class="features-section">
    <div class="section-header">
      <h2>WHAT TO EXPLORE?</h2>
    </div>

    <div class="card-grid">
      <div class="feature-card">
        <div class="card-img weapon-db"></div>
        <div class="card-body">
          <span class="card-code">I.</span>
          <h4>CATEGORIZE ALL WEAPONS</h4>
          <p>The system will display a complete list of available weapons categorized into Assault Rifles, SMGs, Snipers, LMGs, Shotguns, and Marksman Rifles.</p>
          <div class="progress-bar"><div class="fill" style="width: 100%"></div></div>
          <a href="#" class="card-link">CLICK HERE TO EXPLORE NOW</a>
        </div>
      </div>

      <div class="feature-card">
        <div class="card-img tutorials"></div>
        <div class="card-body">
          <span class="card-code">II.</span>
          <h4>MYTHIC & NONE MYTHIC COMPARISON</h4>
          <p>Each weapon page will present two optimized attachment configurations: 
            one for Mythic skins and one for Non-Mythic skins, allowing players to compare performance differences.</p>
          <div class="progress-bar"><div class="fill" style="width: 99%"></div></div>
          <a href="#" class="card-link">CLICK HERE TO EXPLORE NOW</a>
        </div>
      </div>

      <div class="feature-card">
        <div class="card-img comparisons"></div>
        <div class="card-body">
          <span class="card-code">III.</span>
          <h4>GAMEPLAY VIDEO DEMONSTRATION</h4>
          <p>Each build recommended have an embedded gameplay video demonstrating the effectiveness of the attachment setup.</p>
          <div class="progress-bar"><div class="fill" style="width: 99%"></div></div>
          <a href="#" class="card-link">CLICK HERE TO EXPLORE NOW</a>
        </div>
      </div>
    </div>
  </section>

  <footer class="main-footer">
    <div class="footer-top">
      <div class="footer-brand">
       <section class="note-container">
  <h2>NOTE:</h2>
  <p>The system is not directly connected to or modify the official Call of Duty Mobile game servers.</p>
</section>
        
      </div>
      
    </div>
  </footer>
</div>