 <div class="page-wrapper">
  <section class="hero-section">
    <header class="navbar">
      <div class="logo">CYHT <span>LOADOUTS</span></div>
      <nav>
        <a routerLink="/home" class="active">HOME</a>
        <a routerLink="/weapons" class="active">WEAPONS</a>
        <a routerLink="/about" class="active">ABOUT</a>
        <a routerLink="/contacts" class="active">CONTACT US</a>
      </nav>
    </header>

    <div class="hero-content">
      <div class="hero-text">
        <h1>MASTER<br>THE META</h1>
        <p>This website focus on helping new players of the Battle Royale mode in Call of Duty: Mobile to provide recommended weapon loadouts and guides.
           The web application display weapons commonly used in the Battle Royale with their optimized attachment builds.</p>
        <button routerLink="/weapons" class="cta-button">EXPLORE WEAPONS</button>
      </div>
      
      
   
    </div>

    
  </section>

  <section class="tutorial-video-section">
  <div class="section-header">
    <h2>LOADOUT INSTALLATION TUTORIAL</h2>
    <p>Watch this quick guide on how to paste and use your custom loadout code in CODM.</p>
  </div>

  <div class="youtube-wrapper">
    <iframe
      width="100%"
      height="500"
      src="https://www.youtube.com/embed/4AL7-7K_Hes"
      title="How to Paste Loadout Tutorial"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</section>

  <footer class="main-footer">
    <div class="footer-top">
      <div class="footer-brand">
       <section class="note-container">
  <h2>NOTE:</h2>
  <p>The system is not directly connected to or modify the official Call of Duty Mobile game servers.</p>
</section>
        
      </div>
      
    </div>
  </footer>
</div>